apify_client
apify_shared
autopep8
beautifulsoup4
datasets
gensim
huggingface-hub
matplotlib
nltk
numpy
pandas
scikit-learn
scipy
seaborn
spacy
tensorboard
torch
torch-geometric
torchaudio
tqdm
transformers
